<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <div class="main" style="text-align: center; color: rgb(139, 25, 150); ">
    <br><br><br>
<h1>Welcome to Our Vibes App</h1>
</div> -->
  

<app-pro1></app-pro1> 
  <!-- <app-pro2></app-pro2>    -->
 <!-- <app-forms></app-forms> -->
 <!-- <app-todolist></app-todolist> -->
 <router-outlet></router-outlet>