<div class="main" style="text-align: center; color: rgb(139, 25, 150); ">
    <br><br><br>
<h1>Welcome to Our Vibes App</h1>
</div>

<div class="container">
   
    <div [id]="idName" >
        <h4>Hey {{name}}</h4>
      </div>
      
      <div class="email"  > 
        <h5>Enter username</h5>
        <input type="text" class="text" placeholder="Email id or username" >
    </div>  
    <br>
    
    
    <div class= "pass">
        <h5>Enter password</h5>
        <input type="text" class="text" placeholder="Password" >
    </div><br>
    
    
    
    <hr class="line">
    
    
    
    <button routerLink="/todolist-page" class="me" (click)="onclick()">AM IN</button><br><br>
        <h2>{{change}}</h2>
        

    <div class="footer">
        <p>Don't have an account?<a class="sign" href="#" routerLink="/register-page">Sign Up</a></p>
    </div>
        
        
        
    </div>
    
    
    
    
    